<h1>New Cars</h1>

<form id="newCar">
<table>
    <tr>
        <td>YEAR:</td><td><input type="text" id="year"></td>
    </tr>
    <tr>
        <td>Make:</td><td><input type="text" id="make"></td>
    </tr>
    <tr>
        <td>Model:</td><td><input type="text" id="model"></td>
    </tr>
    <tr>
        <td>Image:</td><td><input type="text" id="image"></td>
    </tr>
    <tr>
        <td colspan=2><input type="checkbox" id="sold" value="true"> IS SOLD</td>
    </tr>
    <tr>
        <td colspan=2><button id="addCarButton">ADD NEW CAR</button></td>
    </tr>
</table>
<br><br><br>
</form>
<script src="/js/addcar.js"></script>